.component {
  width: 100%;
  display: flex;
}

.name {
  display: inline-block;
  background: #2a7852;
  padding: 0.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  width: 30%;
  text-align: center;
  color: #ffffff;
}

.offline {
  background: #642222;
}

.content {
  width: 100%;
  padding: 0 1rem;
  display: inline-flex;
  justify-content: space-between;
  background: #ffffff;
}

.ip, .date {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ip {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
}

.date {
}
